@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0 0.95rem;
  padding: 0;
  background-color: #fff; /* Set background color to white */
}

/* Left Border Pattern */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15px; /* Adjust the width as needed */
  background: repeating-linear-gradient(
      to bottom,
      #000,
      #000 15px,
      #fff 10px,
      #fff 30px
  );
}

/* Right Border Pattern */
body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 15px; /* Adjust the width as needed */
  background: repeating-linear-gradient(
      to bottom,
      #000,
      #000 15px,
      #fff 10px,
      #fff 30px
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
